/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */
/* =============================================================
   GENERAL STYLES
 ============================================================ */
body {
    font-family: 'Open Sans', sans-serif;
   
}
.pad-top {
    padding-top:60px;
}
.pad-bot {
    padding-bottom:40px;
}
.pad-top-more {
    padding-top:90px;
}
.text-center {
    text-align:center;
}
/*JUST ADDED PADDING IN SECTIONS OF TEMPLATE */
section {
    padding-top:50px;
}
/* ADDED PADDING IN NAVBAR */
.navbar {
    padding:25px;
     -webkit-transition: background .8s ease-out,padding .8s ease-out;
        -moz-transition: background .8s ease-out,padding .8s ease-out;
        transition: background .8s ease-out,padding .8s ease-out;
}
/* CLASS FOR REMOVING PADDING IN NAVBAR*/
.navbar-pad-original {
      padding:5px;
}
/*========================================
    NAV BAR
    ======================================*/
.navbar-inverse .navbar-nav > li > a {
color: #000;
}
.navbar-inverse {
background-color: #FFF;
border-color: #3172a8;
font-size: 25px;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
color: #000000;
background-color: transparent;
}
.navbar-inverse .navbar-brand {
color: #000;
font-size: 27px;
font-weight: 900;
}
.navbar-inverse:hover .navbar-brand:hover {
color: #000;
}
.navbar-toggle {
    background-color: black;
}
/*CHANGING COLOR  SCROLLSPY ON LINK ACTIVE  */
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
color: #fff;
background-color: #3172a8;
}
/*========================================
    HOME SECTION
    ======================================*/
#home {
min-height:700px;
background-color:#3172a8;
}
    #home h1,#home h3 {
        color:#fff;
        text-transform:uppercase;
    }
    #home a i {
        display:table;
        font-size:150px;
}

<style>
a:link {
  color: black; 
  background-color: transparent; 
  text-decoration: none;
}

a.about:link {
  color: white; 
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a.about:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a.about:hover {
  color: #ADD8E6;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a.about:active {
  color: #ADD8E6;
  background-color: transparent;
  text-decoration: none;
}

.imglink {
 margin-bottom: 0px;
 width: 28px;
 height:10px;
 display:block;
 background-image: url(assets/img/email.png) center top no-repeat;
}

.imglink:hover {
   background-image: url(assets/img/park.pdf);
}

</style>


/*========================================
    ABOUT SECTION
    ======================================*/
#about {
background-color: #66B8F0;
color: #fff;
min-height:700px;
}
.panel > .panel-heading {
position: relative;
padding: 15px;
}
.panel-title > a.collapsed:after {
content: '+';
position: absolute;
right: 24px;
}

.panel-title > a:after {
 content: '-';
position: absolute;
right: 24px;

}
.panel {
color:#000;
}

 /*========================================
    PORTFOLIO SECTION
    ======================================*/
 

#portfolio {
    z-index: 2;
    
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}


.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.modal-body span {
    cursor:pointer;
    color:#66B8F0;
}

/*========================================
    CONTACT SECTION
    ======================================*/
#contact {
    min-height:400px;
    }
#contact .form-control {
    height:60px;
}
.cnt {
width: 100%;
min-height: 350px;
border: 1px solid #e1e1e1;
}
.add {
font-size:20px;
padding:20px;
}
/*========================================
    FOOTER SECTION
    ======================================*/
#footer {

background-color:#3172a8;
color: #fff;
padding: 20px 50px 20px 50px;
text-align: right;
border-top: 1px solid #3172a8;
}